.navbar {
  background-color: #383838; }
  .navbar a:hover {
    color: gray; }

.navbar-brand a {
  color: white;
  font-weight: bold; }

.navbar-burger span {
  background-color: #C1C1C1; }

a.r-item {
  color: #C1C1C1;
  padding: 0.5rem 1.75rem; }
  @media screen and (max-widht: 769px -1px) {
    a.r-item {
      color: gray; }
      a.r-item:hover {
        background-color: #F1F1F1; } }
